In [23]:
import pandas as pd 
import numpy as np

In [24]:
stations_geoid = pd.read_csv('citibike_stations_geoid.csv')
stations_geoid = stations_geoid.set_index('geoid').drop('Unnamed: 0',axis=1)

In [25]:
race_and_income = pd.read_csv('../nyc_census_tracts/race_and_income_data.csv')
race_and_income = race_and_income.set_index('geoid')

In [30]:
combined_table = stations_geoid.join(race_and_income,how='inner')

In [31]:
combined_table.head()

,id,name,lat,lon,first,last,rides,2012 median income,2012 median income margin of error,2012 race: total households,...,2016 race: 2 or more races,2017 median income,2017 median income margin of error,2017 race: total households,2017 race: total households margin of error,2017 race: White,2017 race: Black,2017 race: Asian,2017 race: Other,2017 race: 2 or more races
geoid,,,,,,,,,,,,,,,,,,,,,
36047000100,407.0,Henry St & Poplar St,40.700469,-73.991454,2013-06-01,2019-05-31,46995,88705,15140,4623,...,181,88238,10981,4116,366,2878,369,419,272,178
36047000100,216.0,Columbia Heights & Cranberry St,40.700379,-73.995481,2013-06-01,2019-07-31,43550,88705,15140,4623,...,181,88238,10981,4116,366,2878,369,419,272,178
36047000100,3790.0,Henry St & Middagh St,40.700300,-73.991581,2019-05-16,2019-07-31,4034,88705,15140,4623,...,181,88238,10981,4116,366,2878,369,419,272,178
36047000301,406.0,Hicks St & Montague St,40.695128,-73.995951,2013-06-01,2019-07-31,102765,119859,28848,4513,...,269,130063,23922,4340,480,3615,121,244,106,254
36047000301,3180.0,Brooklyn Bridge Park - Pier 2,40.698780,-73.997120,2015-07-01,2018-09-30,36326,119859,28848,4513,...,269,130063,23922,4340,480,3615,121,244,106,254