## Motor Vehicle Collisions Data Analysis

1. The data is really large. Download from here. I cannot put the whole data on github because it is too large.
https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Crashes/h9gi-nx95/data?fbclid=IwAR21YwHEqMjgg2KFLvZy_pG1zmZE3Rc5lC_jOdkrTQY0sSmR553ExMLZR84

Information on the datatypes of the columns can be found here 
https://dev.socrata.com/foundry/data.cityofnewyork.us/h9gi-nx95

The raw data is also posted on our googledrive
https://drive.google.com/drive/folders/197_d1BwPHXmVuyKA6I7UEyEw4Nqo8dAk

2. Filtering Process
- Period 2015-2019 ( Filtered in the Downloading Process)
- Filter accidents related to cyclists
    -

In [25]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

#this is a csv file downloaded filtered from periods 2015-2019

raw_data =pd.read_csv('./Motor_Vehicle_Collisions_-_Crashes.csv',dtype=None)
raw_data.head(-1)

/Users/seongheelee/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,01/01/2015,11:30,NaN,NaN,NaN,NaN,NaN,UNION TURNPIKE,WOODHAVEN BOULEVARD,NaN,...,NaN,NaN,NaN,NaN,3146456,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
1,01/01/2015,12:34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3145932,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
2,01/01/2015,13:45,NaN,NaN,40.785964,-73.796499,"(40.7859639, -73.7964988)",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3146085,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
3,01/01/2015,17:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3146484,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
4,01/01/2015,20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3146404,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1121570,12/31/2019,7:50,BROOKLYN,11249,40.701660,-73.961464,"(40.70166, -73.961464)",WILLIAMSBURG STREET WEST,WYTHE AVENUE,NaN,...,Following Too Closely,NaN,NaN,NaN,4267315,Pick-up Truck,Sedan,NaN,NaN,NaN
1121571,12/31/2019,14:00,BRONX,10470,40.900368,-73.867256,"(40.900368, -73.867256)",NaN,NaN,307 EAST 239 STREET,...,NaN,NaN,NaN,NaN,4267612,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1121572,12/31/2019,20:51,NaN,NaN,40.611760,-73.909500,"(40.61176, -73.9095)",EAST 63 STREET,MAYFAIR DRIVE NORTH,NaN,...,Unspecified,NaN,NaN,NaN,4268024,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1121573,12/31/2019,4:30,NaN,NaN,NaN,NaN,NaN,STATEN ISLAND EXPRESSWAY,NaN,NaN,...,NaN,NaN,NaN,NaN,4267542,Sedan,NaN,NaN,NaN,NaN
1121574,12/31/2019,15:40,QUEENS,11385,40.704178,-73.889530,"(40.704178, -73.88953)",70 AVENUE,66 STREET,NaN,...,NaN,NaN,NaN,NaN,4271878,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN

In [26]:
raw_data.columns

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
      dtype='object')

The list above is the types of columns in the original raw dataset for collisions

In [27]:
raw_data.shape

(1121576, 29)

The original raw data for the collsions has 1121576 rows and 29 columns

In [28]:
raw_data.dtypes

CRASH DATE                        object
CRASH TIME                        object
BOROUGH                           object
ZIP CODE                          object
LATITUDE                         float64
LONGITUDE                        float64
LOCATION                          object
ON STREET NAME                    object
CROSS STREET NAME                 object
OFF STREET NAME                   object
NUMBER OF PERSONS INJURED        float64
NUMBER OF PERSONS KILLED         float64
NUMBER OF PEDESTRIANS INJURED      int64
NUMBER OF PEDESTRIANS KILLED       int64
NUMBER OF CYCLIST INJURED          int64
NUMBER OF CYCLIST KILLED           int64
NUMBER OF MOTORIST INJURED         int64
NUMBER OF MOTORIST KILLED          int64
CONTRIBUTING FACTOR VEHICLE 1     object
CONTRIBUTING FACTOR VEHICLE 2     object
CONTRIBUTING FACTOR VEHICLE 3     object
CONTRIBUTING FACTOR VEHICLE 4     object
CONTRIBUTING FACTOR VEHICLE 5     object
COLLISION_ID                       int64
VEHICLE TYPE CODE 1               object
VEHICLE TYPE CODE 2               object
VEHICLE TYPE CODE 3               object
VEHICLE TYPE CODE 4               object
VEHICLE TYPE CODE 5               object
dtype: object

These are the data types of the columns

In [29]:
#convert to datetime 
from datetime import datetime as dt
raw_data['CRASH DATE'] =  pd.to_datetime(raw_data.loc[:,'CRASH DATE'], format='%m/%d/%Y')
raw_data.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2015-01-01,11:30,NaN,NaN,NaN,NaN,NaN,UNION TURNPIKE,WOODHAVEN BOULEVARD,NaN,...,NaN,NaN,NaN,NaN,3146456,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
1,2015-01-01,12:34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3145932,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
2,2015-01-01,13:45,NaN,NaN,40.785964,-73.796499,"(40.7859639, -73.7964988)",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3146085,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
3,2015-01-01,17:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3146484,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
4,2015-01-01,20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3146404,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN

Convert the crash date to a datetime object

### Filtering out Bike Accidents

We will filter based on

- column NUMBER OF CYCLIST INJURED/ Killed that is greater than 1 

Since the we have 1121576 in the original dataset, we will reduce this to single out accidents that involve bikes.

** Though we acknowledge that sometimes there are bike related collisions where bike riders were not injured/killed at all,
(so filtering the data by  NUMBER OF CYCLIST INJURED/ KILLED >1 will fail to encompass all of the bike related accidents). But we decided on this way of filtering to focus on accidents where the safety of cyclists where directly impacted **

#### Filtering rows where NUMBER OF CYCLIST INJURED/ KILLED is greater than 1

In [30]:
# filter columns where the number of cyclists injured & killed is greater than zero
filter_cyclist = raw_data[(raw_data['NUMBER OF CYCLIST INJURED']>0) | (raw_data['NUMBER OF CYCLIST KILLED']>0)] 
filter_cyclist.head(-1)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
344,2015-01-01,2:39,BROOKLYN,11232,40.647486,-74.000663,"(40.647486, -74.0006631)",7 AVENUE,41 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3145993,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
428,2015-01-02,1:50,BROOKLYN,11219,40.638307,-73.994538,"(40.6383073, -73.9945377)",NEW UTRECHT AVENUE,47 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3146315,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
435,2015-01-02,20:00,MANHATTAN,10009,40.727846,-73.982227,"(40.727846, -73.9822272)",EAST 10 STREET,AVENUE A,NaN,...,Unspecified,NaN,NaN,NaN,3146150,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
554,2015-01-02,22:00,QUEENS,11373,40.738325,-73.885592,"(40.738325, -73.8855916)",QUEENS BOULEVARD,ALBION AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3146904,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
662,2015-01-02,11:30,BROOKLYN,11217,40.685324,-73.980703,"(40.6853239, -73.9807025)",ATLANTIC AVENUE,3 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3147234,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1120946,2019-12-30,18:31,QUEENS,11414,40.670555,-73.856340,"(40.670555, -73.85634)",79 STREET,LINDEN BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,4266741,Sedan,E-Bike,NaN,NaN,NaN
1121127,2019-12-30,16:50,QUEENS,11368,40.743350,-73.863690,"(40.74335, -73.86369)",ALSTYNE AVENUE,98 PLACE,NaN,...,Failure to Yield Right-of-Way,NaN,NaN,NaN,4266691,Taxi,Bike,NaN,NaN,NaN
1121317,2019-12-31,9:39,BRONX,10458,40.865390,-73.886840,"(40.86539, -73.88684)",WEBSTER AVENUE,EAST 197 STREET,NaN,...,Passing or Lane Usage Improper,NaN,NaN,NaN,4267172,Sedan,Bike,NaN,NaN,NaN
1121468,2019-12-31,17:41,NaN,NaN,40.671640,-73.950340,"(40.67164, -73.95034)",NOSTRAND AVENUE,NaN,NaN,...,NaN,NaN,NaN,NaN,4267346,Bike,NaN,NaN,NaN,NaN
1121487,2019-12-31,6:00,MANHATTAN,10022,40.760230,-73.961525,"(40.76023, -73.961525)",EAST 60 STREET,1 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4266844,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN

In [31]:
filter_cyclist.shape

(23734, 29)

After the filtering process for cyclist related collsions we have 23734 rows and 29 columns left.

## Filtering rows with missing latitude longitude

In the next step of our data analysis we will focus on using our longitude latitude to label each collision with a geoid refering to a specific location census tract. 

Therefore it is important that all the rows in the data contain a longitude, latitude  value. Our next step is to filter our rows that are missing longitude latitude values

#### Filtering rows where Longitude or Latitude is missing.

In [32]:
# filter out rows missing longitude latitude values
filter_long_lat =  filter_cyclist[filter_cyclist.LONGITUDE.notnull() | filter_cyclist.LATITUDE.notnull()]
filter_long_lat

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
344,2015-01-01,2:39,BROOKLYN,11232,40.647486,-74.000663,"(40.647486, -74.0006631)",7 AVENUE,41 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3145993,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
428,2015-01-02,1:50,BROOKLYN,11219,40.638307,-73.994538,"(40.6383073, -73.9945377)",NEW UTRECHT AVENUE,47 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3146315,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
435,2015-01-02,20:00,MANHATTAN,10009,40.727846,-73.982227,"(40.727846, -73.9822272)",EAST 10 STREET,AVENUE A,NaN,...,Unspecified,NaN,NaN,NaN,3146150,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
554,2015-01-02,22:00,QUEENS,11373,40.738325,-73.885592,"(40.738325, -73.8855916)",QUEENS BOULEVARD,ALBION AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3146904,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
662,2015-01-02,11:30,BROOKLYN,11217,40.685324,-73.980703,"(40.6853239, -73.9807025)",ATLANTIC AVENUE,3 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3147234,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1121127,2019-12-30,16:50,QUEENS,11368,40.743350,-73.863690,"(40.74335, -73.86369)",ALSTYNE AVENUE,98 PLACE,NaN,...,Failure to Yield Right-of-Way,NaN,NaN,NaN,4266691,Taxi,Bike,NaN,NaN,NaN
1121317,2019-12-31,9:39,BRONX,10458,40.865390,-73.886840,"(40.86539, -73.88684)",WEBSTER AVENUE,EAST 197 STREET,NaN,...,Passing or Lane Usage Improper,NaN,NaN,NaN,4267172,Sedan,Bike,NaN,NaN,NaN
1121468,2019-12-31,17:41,NaN,NaN,40.671640,-73.950340,"(40.67164, -73.95034)",NOSTRAND AVENUE,NaN,NaN,...,NaN,NaN,NaN,NaN,4267346,Bike,NaN,NaN,NaN,NaN
1121487,2019-12-31,6:00,MANHATTAN,10022,40.760230,-73.961525,"(40.76023, -73.961525)",EAST 60 STREET,1 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4266844,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN
1121498,2019-12-31,23:15,NaN,NaN,40.755302,-73.975360,"(40.755302, -73.97536)",EAST 47 STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4267502,Taxi,Bike,NaN,NaN,NaN

After the filtering process for missing values in longitude latitude we have 21846 rows and 29 columns left.

## Filtering rows with missing zip code and borough

Though at this point we don't know if we will be using the zipcode and borough columns we have decide to filter out the missing values there too just incase we need to use them later on

In [33]:
# filter out rows missing zip code and borough 
filter_zip =  filter_long_lat[filter_long_lat['BOROUGH'].notnull() | filter_long_lat['ZIP CODE'].notnull()]
filter_zip

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
344,2015-01-01,2:39,BROOKLYN,11232,40.647486,-74.000663,"(40.647486, -74.0006631)",7 AVENUE,41 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3145993,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
428,2015-01-02,1:50,BROOKLYN,11219,40.638307,-73.994538,"(40.6383073, -73.9945377)",NEW UTRECHT AVENUE,47 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3146315,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
435,2015-01-02,20:00,MANHATTAN,10009,40.727846,-73.982227,"(40.727846, -73.9822272)",EAST 10 STREET,AVENUE A,NaN,...,Unspecified,NaN,NaN,NaN,3146150,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
554,2015-01-02,22:00,QUEENS,11373,40.738325,-73.885592,"(40.738325, -73.8855916)",QUEENS BOULEVARD,ALBION AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3146904,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
662,2015-01-02,11:30,BROOKLYN,11217,40.685324,-73.980703,"(40.6853239, -73.9807025)",ATLANTIC AVENUE,3 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3147234,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1120867,2019-12-30,17:00,BROOKLYN,11226,40.644770,-73.954735,"(40.64477, -73.954735)",BEDFORD AVENUE,BEVERLEY ROAD,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4267695,Sedan,Bike,NaN,NaN,NaN
1120946,2019-12-30,18:31,QUEENS,11414,40.670555,-73.856340,"(40.670555, -73.85634)",79 STREET,LINDEN BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,4266741,Sedan,E-Bike,NaN,NaN,NaN
1121127,2019-12-30,16:50,QUEENS,11368,40.743350,-73.863690,"(40.74335, -73.86369)",ALSTYNE AVENUE,98 PLACE,NaN,...,Failure to Yield Right-of-Way,NaN,NaN,NaN,4266691,Taxi,Bike,NaN,NaN,NaN
1121317,2019-12-31,9:39,BRONX,10458,40.865390,-73.886840,"(40.86539, -73.88684)",WEBSTER AVENUE,EAST 197 STREET,NaN,...,Passing or Lane Usage Improper,NaN,NaN,NaN,4267172,Sedan,Bike,NaN,NaN,NaN
1121487,2019-12-31,6:00,MANHATTAN,10022,40.760230,-73.961525,"(40.76023, -73.961525)",EAST 60 STREET,1 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4266844,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN

In [34]:
filter_zip.shape

(17153, 29)

After the filtering process for missing values in zipcode and borough we have 17153 rows and 29 columns left.

In [43]:
# Confidence Check 
# Checking the unique values in the columns to see if it was filtered out correctly
filter_long_lat['BOROUGH'].unique()

array(['BROOKLYN', 'MANHATTAN', 'QUEENS', 'BRONX', nan, 'STATEN ISLAND'],
      dtype=object)

In [44]:
filter_long_lat['ZIP CODE'].unique()

array(['11232', '11219', '10009', '11373', '11217', '10457', '11205',
       '11207', '11375', '11233', '10013', nan, '11370', '11226', '11231',
       '11216', '11237', '10031', '10001', '11218', '10011', '11201',
       '10010', '10019', '10453', '11106', '11379', '10017', '10029',
       '10034', '10030', '11212', '10025', '11211', '11355', '11214',
       '11230', '11204', '10463', '10474', '10016', '11416', '11101',
       '11203', '10473', '11222', '11221', '10460', '11236', '11238',
       '10472', '10065', '11103', '10456', '11229', '10023', '11428',
       '11692', '10035', '10069', '10024', '10467', '10451', '10003',
       '11694', '11377', '11368', '10036', '11385', '11206', '10033',
       '10014', '10018', '11223', '10022', '11105', '10004', '10006',
       '11215', '10005', '11372', '10028', '11104', '10007', '10012',
       11373.0, 10038.0, 10019.0, 11419.0, 11205.0, 10029.0, 10001.0,
       10009.0, 11216.0, 11229.0, 10033.0, 10027.0, 11217.0, 10016.0,
       11375.0, 11206.0, 11369.0, 10007.0, 11219.0, 10037.0, 10010.0,
       10011.0, 11235.0, 11228.0, 11211.0, 11372.0, 10306.0, 10013.0,
       11204.0, 11377.0, 11201.0, 10469.0, 11249.0, 10003.0, 11207.0,
       11432.0, 11238.0, 11222.0, 10017.0, 11218.0, 11226.0, 10065.0,
       10312.0, 10002.0, 11385.0, 10457.0, 11358.0, 10024.0, 11233.0,
       10452.0, 10475.0, 11230.0, 10014.0, 11421.0, 11215.0, 11102.0,
       10023.0, 10468.0, 11223.0, 10458.0, 10022.0, 11374.0, 10012.0,
       10466.0, 11208.0, 11212.0, 11694.0, 11225.0, 10128.0, 10459.0,
       11368.0, 11209.0, 11237.0, 11354.0, 11220.0, 10455.0, 10454.0,
       11213.0, 10031.0, 10036.0, 10075.0, 10451.0, 10470.0, 10018.0,
       10463.0, 10025.0, 10028.0, 11106.0, 10465.0, 10467.0, 11221.0,
       10304.0, 10032.0, 10456.0, 11231.0, 10308.0, 11239.0, 11428.0,
       10035.0, 11378.0, 11232.0, 10021.0, 11236.0, 11224.0, 11103.0,
       11210.0, 11356.0, 11101.0, 11420.0, 11355.0, 11214.0, 11105.0,
       11104.0, 10462.0, 10030.0, 10006.0, 11433.0, 10301.0, 11436.0,
       10474.0, 11234.0, 11203.0, 11418.0, 11691.0, 11364.0, 11367.0,
       10034.0, 11417.0, 10453.0, 11423.0, 11427.0, 10020.0, 10026.0,
       11411.0, 11693.0, 10004.0, 10005.0, 10309.0, 11379.0, 11361.0,
       10473.0, 11434.0, 11357.0, 10471.0, 11435.0, 11414.0, 11426.0,
       10040.0, 10472.0, 10039.0, 10280.0, 11422.0, 11412.0, 10310.0,
       11004.0, 10461.0, 10464.0, 10119.0, 11416.0, 10460.0, 10305.0,
       11370.0, 11366.0, 10314.0, 11413.0, 11360.0, 10069.0, 11415.0,
       11362.0, 11429.0, 11365.0, 11692.0, 11363.0, 10000.0, 10118.0,
       10307.0, 11697.0, 11001.0, 10112.0, 10169.0, 10271.0, 10155.0,
       10110.0, 10178.0, 11109.0, 10168.0, 10172.0, 10120.0, 10123.0,
       10165.0, 11040.0, 10282.0, 10121.0, 10302.0], dtype=object)

By doing this confidence we are able to see that there is a 'nan' value in the rows that was not filtered out properly for the ZIPCODE and BOUROUGH

## Filter out nan Values

In [58]:

filter_e=  filter_long_lat[filter_long_lat['BOROUGH'].notnull()]
filter_e
# filter_cyclist = raw_data[(raw_data['NUMBER OF CYCLIST INJURED']>0) | (raw_data['NUMBER OF CYCLIST KILLED']>0)] 
# filter_cyclist.head(-1)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
344,2015-01-01,2:39,BROOKLYN,11232,40.647486,-74.000663,"(40.647486, -74.0006631)",7 AVENUE,41 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3145993,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
428,2015-01-02,1:50,BROOKLYN,11219,40.638307,-73.994538,"(40.6383073, -73.9945377)",NEW UTRECHT AVENUE,47 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3146315,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
435,2015-01-02,20:00,MANHATTAN,10009,40.727846,-73.982227,"(40.727846, -73.9822272)",EAST 10 STREET,AVENUE A,NaN,...,Unspecified,NaN,NaN,NaN,3146150,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
554,2015-01-02,22:00,QUEENS,11373,40.738325,-73.885592,"(40.738325, -73.8855916)",QUEENS BOULEVARD,ALBION AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3146904,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
662,2015-01-02,11:30,BROOKLYN,11217,40.685324,-73.980703,"(40.6853239, -73.9807025)",ATLANTIC AVENUE,3 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3147234,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1120867,2019-12-30,17:00,BROOKLYN,11226,40.644770,-73.954735,"(40.64477, -73.954735)",BEDFORD AVENUE,BEVERLEY ROAD,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4267695,Sedan,Bike,NaN,NaN,NaN
1120946,2019-12-30,18:31,QUEENS,11414,40.670555,-73.856340,"(40.670555, -73.85634)",79 STREET,LINDEN BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,4266741,Sedan,E-Bike,NaN,NaN,NaN
1121127,2019-12-30,16:50,QUEENS,11368,40.743350,-73.863690,"(40.74335, -73.86369)",ALSTYNE AVENUE,98 PLACE,NaN,...,Failure to Yield Right-of-Way,NaN,NaN,NaN,4266691,Taxi,Bike,NaN,NaN,NaN
1121317,2019-12-31,9:39,BRONX,10458,40.865390,-73.886840,"(40.86539, -73.88684)",WEBSTER AVENUE,EAST 197 STREET,NaN,...,Passing or Lane Usage Improper,NaN,NaN,NaN,4267172,Sedan,Bike,NaN,NaN,NaN
1121487,2019-12-31,6:00,MANHATTAN,10022,40.760230,-73.961525,"(40.76023, -73.961525)",EAST 60 STREET,1 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4266844,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN

In [60]:
filter_e['BOROUGH'].unique()

array(['BROOKLYN', 'MANHATTAN', 'QUEENS', 'BRONX', 'STATEN ISLAND'],
      dtype=object)

In [62]:
filter_e['ZIP CODE'].unique()

array(['11232', '11219', '10009', '11373', '11217', '10457', '11205',
       '11207', '11375', '11233', '10013', '11370', '11226', '11231',
       '11216', '11237', '10031', '10001', '11218', '10011', '11201',
       '10010', '10019', '10453', '11106', '11379', '10017', '10029',
       '10034', '10030', '11212', '10025', '11211', '11355', '11214',
       '11230', '11204', '10463', '10474', '10016', '11416', '11101',
       '11203', '10473', '11222', '11221', '10460', '11236', '11238',
       '10472', '10065', '11103', '10456', '11229', '10023', '11428',
       '11692', '10035', '10069', '10024', '10467', '10451', '10003',
       '11694', '11377', '11368', '10036', '11385', '11206', '10033',
       '10014', '10018', '11223', '10022', '11105', '10004', '10006',
       '11215', '10005', '11372', '10028', '11104', '10007', '10012',
       11373.0, 10038.0, 10019.0, 11419.0, 11205.0, 10029.0, 10001.0,
       10009.0, 11216.0, 11229.0, 10033.0, 10027.0, 11217.0, 10016.0,
       11375.0, 11206.0, 11369.0, 10007.0, 11219.0, 10037.0, 10010.0,
       10011.0, 11235.0, 11228.0, 11211.0, 11372.0, 10306.0, 10013.0,
       11204.0, 11377.0, 11201.0, 10469.0, 11249.0, 10003.0, 11207.0,
       11432.0, 11238.0, 11222.0, 10017.0, 11218.0, 11226.0, 10065.0,
       10312.0, 10002.0, 11385.0, 10457.0, 11358.0, 10024.0, 11233.0,
       10452.0, 10475.0, 11230.0, 10014.0, 11421.0, 11215.0, 11102.0,
       10023.0, 10468.0, 11223.0, 10458.0, 10022.0, 11374.0, 10012.0,
       10466.0, 11208.0, 11212.0, 11694.0, 11225.0, 10128.0, 10459.0,
       11368.0, 11209.0, 11237.0, 11354.0, 11220.0, 10455.0, 10454.0,
       11213.0, 10031.0, 10036.0, 10075.0, 10451.0, 10470.0, 10018.0,
       10463.0, 10025.0, 10028.0, 11106.0, 10465.0, 10467.0, 11221.0,
       10304.0, 10032.0, 10456.0, 11231.0, 10308.0, 11239.0, 11428.0,
       10035.0, 11378.0, 11232.0, 10021.0, 11236.0, 11224.0, 11103.0,
       11210.0, 11356.0, 11101.0, 11420.0, 11355.0, 11214.0, 11105.0,
       11104.0, 10462.0, 10030.0, 10006.0, 11433.0, 10301.0, 11436.0,
       10474.0, 11234.0, 11203.0, 11418.0, 11691.0, 11364.0, 11367.0,
       10034.0, 11417.0, 10453.0, 11423.0, 11427.0, 10020.0, 10026.0,
       11411.0, 11693.0, 10004.0, 10005.0, 10309.0, 11379.0, 11361.0,
       10473.0, 11434.0, 11357.0, 10471.0, 11435.0, 11414.0, 11426.0,
       10040.0, 10472.0, 10039.0, 10280.0, 11422.0, 11412.0, 10310.0,
       11004.0, 10461.0, 10464.0, 10119.0, 11416.0, 10460.0, 10305.0,
       11370.0, 11366.0, 10314.0, 11413.0, 11360.0, 10069.0, 11415.0,
       11362.0, 11429.0, 11365.0, 11692.0, 11363.0, 10000.0, 10118.0,
       10307.0, 11697.0, 11001.0, 10112.0, 10169.0, 10271.0, 10155.0,
       10110.0, 10178.0, 11109.0, 10168.0, 10172.0, 10120.0, 10123.0,
       10165.0, 11040.0, 10282.0, 10121.0, 10302.0, nan], dtype=object)

In [63]:
filter_e=  filter_long_lat[filter_long_lat['ZIP CODE'].notnull()]
filter_e

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
344,2015-01-01,2:39,BROOKLYN,11232,40.647486,-74.000663,"(40.647486, -74.0006631)",7 AVENUE,41 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3145993,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
428,2015-01-02,1:50,BROOKLYN,11219,40.638307,-73.994538,"(40.6383073, -73.9945377)",NEW UTRECHT AVENUE,47 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3146315,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
435,2015-01-02,20:00,MANHATTAN,10009,40.727846,-73.982227,"(40.727846, -73.9822272)",EAST 10 STREET,AVENUE A,NaN,...,Unspecified,NaN,NaN,NaN,3146150,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
554,2015-01-02,22:00,QUEENS,11373,40.738325,-73.885592,"(40.738325, -73.8855916)",QUEENS BOULEVARD,ALBION AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3146904,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
662,2015-01-02,11:30,BROOKLYN,11217,40.685324,-73.980703,"(40.6853239, -73.9807025)",ATLANTIC AVENUE,3 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3147234,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1120867,2019-12-30,17:00,BROOKLYN,11226,40.644770,-73.954735,"(40.64477, -73.954735)",BEDFORD AVENUE,BEVERLEY ROAD,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4267695,Sedan,Bike,NaN,NaN,NaN
1120946,2019-12-30,18:31,QUEENS,11414,40.670555,-73.856340,"(40.670555, -73.85634)",79 STREET,LINDEN BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,4266741,Sedan,E-Bike,NaN,NaN,NaN
1121127,2019-12-30,16:50,QUEENS,11368,40.743350,-73.863690,"(40.74335, -73.86369)",ALSTYNE AVENUE,98 PLACE,NaN,...,Failure to Yield Right-of-Way,NaN,NaN,NaN,4266691,Taxi,Bike,NaN,NaN,NaN
1121317,2019-12-31,9:39,BRONX,10458,40.865390,-73.886840,"(40.86539, -73.88684)",WEBSTER AVENUE,EAST 197 STREET,NaN,...,Passing or Lane Usage Improper,NaN,NaN,NaN,4267172,Sedan,Bike,NaN,NaN,NaN
1121487,2019-12-31,6:00,MANHATTAN,10022,40.760230,-73.961525,"(40.76023, -73.961525)",EAST 60 STREET,1 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4266844,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN

In [64]:
filter_e['ZIP CODE'].unique()

array(['11232', '11219', '10009', '11373', '11217', '10457', '11205',
       '11207', '11375', '11233', '10013', '11370', '11226', '11231',
       '11216', '11237', '10031', '10001', '11218', '10011', '11201',
       '10010', '10019', '10453', '11106', '11379', '10017', '10029',
       '10034', '10030', '11212', '10025', '11211', '11355', '11214',
       '11230', '11204', '10463', '10474', '10016', '11416', '11101',
       '11203', '10473', '11222', '11221', '10460', '11236', '11238',
       '10472', '10065', '11103', '10456', '11229', '10023', '11428',
       '11692', '10035', '10069', '10024', '10467', '10451', '10003',
       '11694', '11377', '11368', '10036', '11385', '11206', '10033',
       '10014', '10018', '11223', '10022', '11105', '10004', '10006',
       '11215', '10005', '11372', '10028', '11104', '10007', '10012',
       11373.0, 10038.0, 10019.0, 11419.0, 11205.0, 10029.0, 10001.0,
       10009.0, 11216.0, 11229.0, 10033.0, 10027.0, 11217.0, 10016.0,
       11375.0, 11206.0, 11369.0, 10007.0, 11219.0, 10037.0, 10010.0,
       10011.0, 11235.0, 11228.0, 11211.0, 11372.0, 10306.0, 10013.0,
       11204.0, 11377.0, 11201.0, 10469.0, 11249.0, 10003.0, 11207.0,
       11432.0, 11238.0, 11222.0, 10017.0, 11218.0, 11226.0, 10065.0,
       10312.0, 10002.0, 11385.0, 10457.0, 11358.0, 10024.0, 11233.0,
       10452.0, 10475.0, 11230.0, 10014.0, 11421.0, 11215.0, 11102.0,
       10023.0, 10468.0, 11223.0, 10458.0, 10022.0, 11374.0, 10012.0,
       10466.0, 11208.0, 11212.0, 11694.0, 11225.0, 10128.0, 10459.0,
       11368.0, 11209.0, 11237.0, 11354.0, 11220.0, 10455.0, 10454.0,
       11213.0, 10031.0, 10036.0, 10075.0, 10451.0, 10470.0, 10018.0,
       10463.0, 10025.0, 10028.0, 11106.0, 10465.0, 10467.0, 11221.0,
       10304.0, 10032.0, 10456.0, 11231.0, 10308.0, 11239.0, 11428.0,
       10035.0, 11378.0, 11232.0, 10021.0, 11236.0, 11224.0, 11103.0,
       11210.0, 11356.0, 11101.0, 11420.0, 11355.0, 11214.0, 11105.0,
       11104.0, 10462.0, 10030.0, 10006.0, 11433.0, 10301.0, 11436.0,
       10474.0, 11234.0, 11203.0, 11418.0, 11691.0, 11364.0, 11367.0,
       10034.0, 11417.0, 10453.0, 11423.0, 11427.0, 10020.0, 10026.0,
       11411.0, 11693.0, 10004.0, 10005.0, 10309.0, 11379.0, 11361.0,
       10473.0, 11434.0, 11357.0, 10471.0, 11435.0, 11414.0, 11426.0,
       10040.0, 10472.0, 10039.0, 10280.0, 11422.0, 11412.0, 10310.0,
       11004.0, 10461.0, 10464.0, 10119.0, 11416.0, 10460.0, 10305.0,
       11370.0, 11366.0, 10314.0, 11413.0, 11360.0, 10069.0, 11415.0,
       11362.0, 11429.0, 11365.0, 11692.0, 11363.0, 10000.0, 10118.0,
       10307.0, 11697.0, 11001.0, 10112.0, 10169.0, 10271.0, 10155.0,
       10110.0, 10178.0, 11109.0, 10168.0, 10172.0, 10120.0, 10123.0,
       10165.0, 11040.0, 10282.0, 10121.0, 10302.0], dtype=object)

With this we removed all the NaN values in the dataset

In [66]:
filter_e.shape

(17152, 29)

We have an end result of 17152 rows and 29 columns

## Columns in dataset

At this moment we have made the choice not to remove any columns in the dataset for we are not sure what we will end up using.

## Final Shape of Filtered Data set

In [73]:
filter_e.shape

(17152, 29)

## Save to csv

In [75]:
collisions = filter_e.to_csv('./collisions.csv')